<div class="jumbotron">
  <h1>The World of PegIt</h1>
  <p>Welcome to PegIt!  This is an interactive site that allows you to keep your golf handicap for free.  Also, you will gain access to other golfers in your area to get different games together.  Please enjoy watching your scores go down and remember that cheaters never win.</p>
  <p><%= link_to "See What's Happening", feed_path, class:"btn btn-default" %></p>
</div>
